In [58]:
import pandas as pd 
import numpy as np
#tdqm = progress bar
from tqdm import tqdm
from datetime import datetime

from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn import utils

In [59]:
# Number of rows
nrows = 10000
# Chunksize = 10000 
chunksize = 10000
# Vitou's path
path = 'C:/Users/sirus/Downloads/train.csv'
# Muna's path
#path = '/Users/muna/Development/DataScience/new-york-city-taxi-fare-prediction/train.csv'
# Columns to read from the data
# Todo :split date into meaningful data
# cols = ['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','fare_amount']
cols = ['pickup_datetime','pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','fare_amount']

#list to hold the batch dataframe
df_list = []

for df_chunk in tqdm(pd.read_csv(path,usecols=cols, chunksize=chunksize,nrows=nrows)):
    df_list.append(df_chunk)
    
# Merge all dataframes into one dataframe
data = pd.DataFrame()
data = pd.concat(df_list)
# # Delete the dataframe list to release memory
del df_list, df_chunk

1it [00:00, 55.70it/s]

In [60]:
# Given a dataframe, add two new features 'abs_diff_longitude' and
# 'abs_diff_latitude' reprensenting the "Manhattan vector" from
# the pickup location to the dropoff location.
def add_travel_vector_features(df):
    df['abs_diff_longitude'] = (df.dropoff_longitude - df.pickup_longitude).abs()
    df['abs_diff_latitude'] = (df.dropoff_latitude - df.pickup_latitude).abs()

add_travel_vector_features(data)

In [61]:
%%time
print(data[::10])

      fare_amount          pickup_datetime  pickup_longitude  pickup_latitude  \
0            4.50  2009-06-15 17:26:21 UTC        -73.844311        40.721319
10           5.30  2012-04-08 07:30:50 UTC        -73.996335        40.737142
20          10.50  2010-09-07 13:18:00 UTC        -73.985382        40.747858
30           5.50  2014-02-19 16:03:00 UTC        -73.976075        40.752422
40           8.10  2011-03-29 15:39:49 UTC        -73.984267        40.744961
50           9.70  2011-12-06 09:09:21 UTC        -73.985582        40.739765
60           5.00  2014-07-16 10:57:00 UTC        -73.996148        40.741890
70           6.90  2009-08-02 02:34:11 UTC        -73.995781        40.723411
80           5.70  2010-08-19 16:33:00 UTC        -73.973830        40.763717
90          10.50  2010-04-27 21:40:07 UTC        -74.001135        40.730979
100         10.00  2014-11-12 12:40:29 UTC        -74.002581        40.739572
110          9.00  2014-05-22 18:30:00 UTC        -73.982272        40.748357
120         11.50  2012-11-08 21:00:00 UTC        -73.972018        40.750142
130          8.00  2013-02-11 00:13:00 UTC        -74.002843        40.733692
140          9.00  2015-02-15 22:41:32 UTC        -74.003448        40.733101
150         17.30  2010-05-17 07:44:00 UTC        -73.950972        40.785633
160          8.00  2014-11-04 12:11:19 UTC        -73.975189        40.759095
170         11.70  2011-02-26 20:27:36 UTC        -73.981496        40.781004
180          5.70  2010-07-15 19:09:01 UTC        -74.006055        40.733166
190          6.00  2012-09-08 00:49:20 UTC        -74.004935        40.729625
200          6.00  2013-10-05 09:12:21 UTC        -74.000310        40.747961
210         12.50  2012-10-23 08:09:25 UTC        -73.982332        40.768633
220         30.90  2012-03-16 07:58:00 UTC        -73.981942        40.763977
230          7.00  2012-12-15 19:11:53 UTC        -74.002462        40.718762
240          7.30  2009-06-20 19:28:37 UTC        -73.979345        40.776630
250          4.90  2009-09-26 15:17:20 UTC        -73.955540        40.781958
260          6.50  2011-01-23 11:44:28 UTC        -74.003665        40.736906
270          7.50  2012-08-25 01:53:42 UTC        -73.995892        40.746454
280          5.30  2011-12-07 19:40:21 UTC        -73.958749        40.781019
290          6.90  2009-12-14 12:33:00 UTC        -73.982432        40.745747
...           ...                      ...               ...              ...
9700        17.00  2012-10-16 19:48:00 UTC        -73.864802        40.771122
9710        10.10  2010-06-25 20:59:26 UTC        -73.965132        40.806434
9720        11.50  2015-01-08 18:16:27 UTC        -73.991463        40.746223
9730        17.70  2009-06-05 22:53:00 UTC        -73.991688        40.726778
9740         6.10  2012-04-16 21:31:14 UTC        -73.982709        40.759922
9750         4.10  2010-01-19 00:24:58 UTC        -73.992265        40.725781
9760        24.50  2015-03-03 19:11:29 UTC        -73.994530        40.748749
9770        17.00  2014-05-20 23:16:31 UTC        -73.950292        40.721972
9780        12.50  2013-05-09 17:03:19 UTC        -73.975279        40.765317
9790         6.10  2011-05-31 19:11:24 UTC        -73.967013        40.788772
9800         7.00  2013-02-26 18:38:00 UTC        -73.981827        40.736747
9810         3.50  2015-01-16 16:31:39 UTC        -73.987305        40.720268
9820         8.50  2013-07-08 22:01:00 UTC        -73.951032        40.770577
9830         4.10  2011-08-27 10:29:00 UTC        -73.982982        40.740840
9840         9.00  2014-04-03 13:50:00 UTC        -73.943843        40.835837
9850         5.70  2009-08-03 07:37:48 UTC        -73.976135        40.781237
9860         5.50  2015-05-26 09:07:18 UTC        -73.992577        40.748531
9870         6.50  2010-10-31 22:55:00 UTC        -73.973220        40.751772
9880         8.90  2012-09-03 20:00:00 UTC        -73.976395        40.743777
9890        37.33  2014-09-13 16:47:00 UTC        -73.874577        40.774060
9900        13.30  2010-03-08 19:20:00 UTC        -74.016028        40.711183
9910        15.50  2015-05-15 00:59:29 UTC        -73.991173        40.665646
9920        27.50  2012-11-13 20:43:00 UTC        -73.967562        40.763210
9930         5.00  2015-06-14 16:16:04 UTC        -73.953430        40.778625
9940         5.00  2013-10-01 22:54:00 UTC        -73.985757        40.722927
9950        12.50  2013-03-30 19:01:43 UTC        -73.968147        40.800429
9960        12.50  2011-08-13 23:52:18 UTC        -73.940035        40.840880
9970         6.90  2009-12-29 16:29:00 UTC        -73.984122        40.759905
9980         5.50  2012-11-09 17:47:00 UTC        -74.005310        40.751275
9990        20.50  2013-04-29 17:01:00 UTC        -73.946900        40.784247

      dropoff_longitude  dropoff_latitude  passenger_count  \
0            -73.841610         40.712278                1
10           -73.980721         40.733559                1
20           -73.978377         40.762070                1
30           -73.981082         40.759285                1
40           -73.981646         40.759608                1
50           -73.973899         40.760426                1
60           -73.992202         40.739425                6
70           -74.005004         40.718950                2
80           -73.989420         40.771522                1
90           -73.984424         40.764630                1
100          -73.994580         40.760682                1
110          -73.969325         40.763877                1
120          -74.006008         40.736220                5
130          -73.987882         40.728590                1
140          -74.008003         40.707214                1
150          -74.010240         40.720302                1
160          -73.980510         40.767610                1
170          -73.995920         40.738813                1
180          -74.002895         40.745530                1
190          -74.016156         40.717410                1
200          -73.993636         40.757229                1
210          -73.983343         40.744372                1
220          -73.870455         40.773607                5
230          -74.007071         40.705536                2
240          -73.973842         40.757074                1
250          -73.962196         40.772095                2
260          -73.997843         40.724187                1
270          -73.995892         40.746454                1
280          -73.945876         40.778165                1
290          -73.982432         40.745747                1
...                 ...               ...              ...
9700         -73.848398         40.724138                1
9710         -73.982891         40.771569                1
9720         -73.989563         40.723194                1
9730         -73.943338         40.768973                1
9740         -74.002705         40.760646                1
9750         -73.983739         40.721418                3
9760         -73.970413         40.799339                6
9770         -73.914727         40.775633                1
9780         -73.953453         40.766904                2
9790         -73.982383         40.772423                1
9800         -73.979263         40.750227                5
9810         -73.985016         40.723942                2
9820         -73.972237         40.759050                1
9830         -73.983157         40.743430                5
9840         -73.961250         40.812002                1
9850         -73.979902         40.765274                1
9860         -73.995659         40.737011                2
9870         -73.956357         40.777258                2
9880         -74.003580         40.736937                5
9890         -73.977093         40.758697                1
9900         -73.987857         40.745858                2
9910         -73.929283         40.666031                5
9920         -73.837495         40.720497                1
9930         -73.957314         40.777126                1
9940         -73.978607         40.729682                1
9950         -73.947441         40.834479                1
9960         -73.948934         40.796653                1
9970         -73.978205         40.760717                1
9980         -74.003412         40.743545                2
9990         -73.994392         40.746328                2

      abs_diff_longitude  abs_diff_latitude
0               0.002701           0.009041
10              0.015614           0.003583
20              0.007005           0.014212
30              0.005007           0.006863
40              0.002621           0.014647
50              0.011683           0.020661
60              0.003946           0.002465
70              0.009223           0.004461
80              0.015590           0.007805
90              0.016711           0.033651
100             0.008001           0.021110
110             0.012947           0.015520
120             0.033990           0.013922
130             0.014961           0.005102
140             0.004555           0.025887
150             0.059268           0.065331
160             0.005321           0.008515
170             0.014424           0.042191
180             0.003160           0.012364
190             0.011221           0.012215
200             0.006674           0.009268
210             0.001011           0.024261
220             0.111487           0.009630
230             0.004609           0.013226
240             0.005503           0.019556
250             0.006656           0.009863
260             0.005822           0.012719
270             0.000000           0.000000
280             0.012873           0.002854
290             0.000000           0.000000
...                  ...                ...
9700            0.016404           0.046984
9710            0.017759           0.034865
9720            0.001900           0.023029
9730            0.048350           0.042195
9740            0.019996           0.000724
9750            0.008526           0.004363
9760            0.024117           0.050591
9770            0.035565           0.053661
9780            0.021826           0.001587
9790            0.015370           0.016349
9800            0.002564           0.013480
9810            0.002289           0.003674
9820            0.021205           0.011527
9830            0.000175           0.002590
9840            0.017407           0.023835
9850            0.003767           0.015963
9860            0.003082           0.011520
9870            0.016863           0.025486
9880            0.027185           0.006840
9890            0.102516           0.015363
9900            0.028171           0.034675
9910            0.061890           0.000385
9920            0.130067           0.042713
9930            0.003883           0.001499
9940            0.007150           0.006755
9950            0.020706           0.034050
9960            0.008899           0.044227
9970            0.005917           0.000812
9980            0.001898           0.007730
9990            0.047492           0.037919

[1000 rows x 9 columns]
Wall time: 14 ms

### Let's take a look at the data

In [62]:
%%time
data.describe(include='all')

Wall time: 37.9 ms

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_diff_longitude,abs_diff_latitude
count,10000.000000,10000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
unique,NaN,9985,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2009-05-10 17:57:00 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,11.235464,NaN,-72.466660,39.920448,-72.474094,39.893281,1.644700,0.103411,0.098102
std,9.584258,NaN,10.609729,7.318932,10.579732,6.339919,1.271229,2.429089,3.824894
min,-2.900000,NaN,-74.438233,-74.006893,-74.429332,-73.994392,0.000000,0.000000,0.000000
25%,6.000000,NaN,-73.992058,40.734547,-73.991112,40.735230,1.000000,0.005734,0.006715
50%,8.500000,NaN,-73.981758,40.752693,-73.980083,40.753738,1.000000,0.012453,0.013940
75%,12.500000,NaN,-73.966925,40.767694,-73.963504,40.768186,2.000000,0.024149,0.026681
max,180.000000,NaN,40.766125,401.083332,40.802437,41.366138,6.000000,74.010230,360.304405

###  Check for missing values

In [63]:
%%time
# Checking for missing values
data.isnull().sum()

Wall time: 4.99 ms

fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
passenger_count       0
abs_diff_longitude    0
abs_diff_latitude     0
dtype: int64

### From our observation, there are some missing values, so we replace it with the mean of that column

In [64]:
%%time
data = data.dropna(how = 'any', axis = 'rows')

Wall time: 5.98 ms

###  From the description above, some of the fare_amount have negative values

#### We are going to remove all negatvie fare_amounts

In [65]:
%%time
data = data[(data['fare_amount'] > 0)]

Wall time: 2.99 ms

In [66]:
%%time
data.describe()

Wall time: 25.9 ms

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_diff_longitude,abs_diff_latitude
count,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000
mean,11.238252,-72.466375,39.920296,-72.473810,39.893123,1.644829,0.103431,0.098122
std,9.583189,10.610771,7.319656,10.580772,6.340543,1.271324,2.429332,3.825276
min,0.010000,-74.438233,-74.006893,-74.429332,-73.994392,0.000000,0.000000,0.000000
25%,6.000000,-73.992056,40.734564,-73.991109,40.735235,1.000000,0.005734,0.006716
50%,8.500000,-73.981758,40.752695,-73.980083,40.753740,1.000000,0.012460,0.013944
75%,12.500000,-73.966934,40.767696,-73.963512,40.768187,2.000000,0.024151,0.026687
max,180.000000,40.766125,401.083332,40.802437,41.366138,6.000000,74.010230,360.304405

### In further observation, we have pickup_longitude, puckup_latitiude, dropoff_longitude and dropoff_latitude. We can calculate the distance

In [67]:
# Function that calculates distance between pickup location and dropoff location
def getDistance(lat1,lon1,lat2,lon2):
    r = 6378 # earth's radius
    lat1 = np.deg2rad(lat1)
    lon1 = np.deg2rad(lon1)
    lat2 = np.deg2rad(lat2)
    lon2 = np.deg2rad(lon2)
    
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    distance = r*c
    
    return distance

In [68]:
%%time
# Add new cloumn "distance" to the data
data['distance'] = getDistance(data.pickup_latitude, data.pickup_longitude, 
                                      data.dropoff_latitude, data.dropoff_longitude)

Wall time: 32.9 ms

In [69]:
data.describe(include='all')

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_diff_longitude,abs_diff_latitude,distance
count,9998.000000,9998,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000,9998.000000
unique,NaN,9983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,2012-12-06 18:05:00 UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,11.238252,NaN,-72.466375,39.920296,-72.473810,39.893123,1.644829,0.103431,0.098122,12.730622
std,9.583189,NaN,10.610771,7.319656,10.580772,6.340543,1.271324,2.429332,3.825276,276.037164
min,0.010000,NaN,-74.438233,-74.006893,-74.429332,-73.994392,0.000000,0.000000,0.000000,0.000000
25%,6.000000,NaN,-73.992056,40.734564,-73.991109,40.735235,1.000000,0.005734,0.006716,1.207945
50%,8.500000,NaN,-73.981758,40.752695,-73.980083,40.753740,1.000000,0.012460,0.013944,2.122888
75%,12.500000,NaN,-73.966934,40.767696,-73.963512,40.768187,2.000000,0.024151,0.026687,3.879478
max,180.000000,NaN,40.766125,401.083332,40.802437,41.366138,6.000000,74.010230,360.304405,8677.065380

In [70]:
def split_datetime(df):
        df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], format="%Y-%m-%d %H:%M:%S UTC")
        df['year'] = df['pickup_datetime'].dt.year
        df['month'] = df['pickup_datetime'].dt.month
        df['day'] = df['pickup_datetime'].dt.day
        df['hour'] = df['pickup_datetime'].dt.hour
        df['dayOfWeek'] = df['pickup_datetime'].dt.dayofweek
        
        return df

In [71]:
split_datetime(data)

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_diff_longitude,abs_diff_latitude,distance,year,month,day,hour,dayOfWeek
0,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,0.002701,0.009041,1.031896,2009,6,15,17,0
1,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,0.036780,0.070701,8.459418,2010,1,5,16,1
2,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,0.008504,0.010708,1.391052,2011,8,18,0,3
3,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1,0.004437,0.024949,2.802346,2012,4,21,4,5
4,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,0.011440,0.015754,2.001353,2010,3,9,7,1
5,12.1,2011-01-06 09:50:45,-74.000964,40.731630,-73.972892,40.758233,1,0.028072,0.026603,3.791400,2011,1,6,9,3
6,7.5,2012-11-20 20:35:00,-73.980002,40.751662,-73.973802,40.764842,1,0.006200,0.013180,1.557516,2012,11,20,20,1
7,16.5,2012-01-04 17:22:00,-73.951300,40.774138,-73.990095,40.751048,1,0.038795,0.023090,4.160010,2012,1,4,17,2
8,9.0,2012-12-03 13:10:00,-74.006462,40.726713,-73.993078,40.731628,1,0.013384,0.004915,1.254608,2012,12,3,13,0
9,8.9,2009-09-02 01:11:00,-73.980658,40.733873,-73.991540,40.758138,2,0.010882,0.024265,2.852758,2009,9,2,1,2
10,5.3,2012-04-08 07:30:50,-73.996335,40.737142,-73.980721,40.733559,1,0.015614,0.003583,1.376087,2012,4,8,7,6
11,5.5,2012-12-24 11:24:00,0.000000,0.000000,0.000000,0.000000,3,0.000000,0.000000,0.000000,2012,12,24,11,0
12,4.1,2009-11-06 01:04:03,-73.991601,40.744712,-73.983081,40.744682,2,0.008520,0.000030,0.718556,2009,11,6,1,4
13,7.0,2013-07-02 19:54:00,-74.005360,40.728867,-74.008913,40.710907,1,0.003553,0.017960,2.021603,2013,7,2,19,1
14,7.7,2011-04-05 17:11:05,-74.001821,40.737547,-73.998060,40.722788,2,0.003761,0.014759,1.673281,2011,4,5,17,1
15,5.0,2013-11-23 12:57:00,0.000000,0.000000,0.000000,0.000000,1,0.000000,0.000000,0.000000,2013,11,23,12,5
16,12.5,2014-02-19 07:22:00,-73.986430,40.760465,-73.988990,40.737075,1,0.002560,0.023390,2.612642,2014,2,19,7,2
17,5.3,2009-07-22 16:08:00,-73.981060,40.737690,-73.994177,40.728412,1,0.013117,0.009278,1.513565,2009,7,22,16,2
18,5.3,2010-07-07 14:52:00,-73.969505,40.784843,-73.958732,40.783357,1,0.010773,0.001486,0.922965,2010,7,7,14,2
19,4.0,2014-12-06 20:36:22,-73.979815,40.751902,-73.979446,40.755481,1,0.000369,0.003579,0.399617,2014,12,6,20,5
20,10.5,2010-09-07 13:18:00,-73.985382,40.747858,-73.978377,40.762070,1,0.007005,0.014212,1.688715,2010,9,7,13,1
21,11.5,2013-02-12 12:15:46,-73.957954,40.779252,-73.961250,40.758787,1,0.003296,0.020465,2.294989,2013,2,12,12,1
22,4.5,2009-08-06 18:17:23,-73.991707,40.770505,-73.985459,40.763671,1,0.006248,0.006834,0.925311,2009,8,6,18,3
23,4.9,2010-12-06 12:29:00,-74.000632,40.747473,-73.986672,40.740577,1,0.013960,0.006896,1.405501,2010,12,6,12,0
24,6.1,2009-12-10 15:37:00,-73.969622,40.756973,-73.981152,40.759712,1,0.011530,0.002739,1.018891,2009,12,10,15,3
25,7.3,2011-06-21 16:15:00,-73.991875,40.754437,-73.977230,40.774323,3,0.014645,0.019886,2.534729,2011,6,21,16,1
26,6.5,2011-02-07 20:01:00,0.000000,0.000000,0.000000,0.000000,1,0.000000,0.000000,0.000000,2011,2,7,20,0
27,4.5,2011-06-28 19:47:00,-73.988893,40.760160,-73.986445,40.757857,3,0.002448,0.002303,0.329132,2011,6,28,19,1
28,9.3,2012-05-04 06:11:20,-73.989258,40.690835,-74.004133,40.725690,1,0.014875,0.034855,4.077939,2012,5,4,6,4
29,4.5,2013-08-11 00:52:00,-73.981020,40.737760,-73.980668,40.730497,2,0.000352,0.007263,0.809041,2013,8,11,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,6.9,2009-12-29 16:29:00,-73.984122,40.759905,-73.978205,40.760717,1,0.005917,0.000812,0.507025,2009,12,29,16,1
9971,5.7,2010-08-10 08:35:27,-73.986658,40.762485,-73.969906,40.763591,1,0.016752,0.001106,1.417774,2010,8,10,8,1
9972,7.3,2012-03-27 17:10:21,-73.991844,40.751864,-73.991900,40.763994,1,0.000056,0.012130,1.350285,2012,3,27,17,1
9973,14.0,2012-10-04 16:20:52,-74.003166,40.749417,-73.971673,40.748692,2,0.031493,0.000725,2.657066,2012,10,4,16,3
9974,9.0,2013-07-10 07:53:42,-73.999104,40.734496,-73.984919,40.759059,1,0.014185,0.024563,2.984523,2013,7,10,7,2
9975,11.5,2014-10-08 08:42:00,-73.998390,40.735350,-73.980650,40.759820,4,0.017740,0.024470,3.107734,2014,10,8,8,2
9976,17.0,2014-11-03 12:23:32,-73.989868,40.740854,-73.962845,40.775560,1,0.027023,0.034706,4.485254,2014,11,3,12,0
9977,7.0,2013-01-02 17:06:35,-73.965804,40.774252,-73.975974,40.760242,4,0.010170,0.014010,1.779708,2013,1,2,17,2
9978,8.5,2012-01-05 22:59:00,-73.966063,40.762152,-73.988595,40.742650,1,0.022532,0.019502,2.884967,2012,1,5,22,3
9979,7.3,2012-01-12 18:56:07,-74.006225,40.723145,-73.995080,40.736557,1,0.011145,0.013412,1.764333,2012,1,12,18,3
9980,5.5,2012-11-09 17:47:00,-74.005310,40.751275,-74.003412,40.743545,2,0.001898,0.007730,0.875242,2012,11,9,17,4
9981,4.5,2014-03-16 17:19:04,-73.951987,40.778242,-73.950945,40.775096,1,0.001042,0.003146,0.361051,2014,3,16,17,6
9982,6.5,2012-02-26 17:03:11,-73.976225,40.764020,-73.999057,40.760783,2,0.022832,0.003237,1.958495,2012,2,26,17,6
9983,7.7,2009-10-10 14:53:08,-73.980984,40.747171,-73.963432,40.769181,1,0.017552,0.022010,2.862389,2009,10,10,14,5
9984,39.7,2011-03-12 12:20:34,-74.012679,40.706625,-73.861545,40.768256,1,0.151134,0.061631,14.476429,2011,3,12,12,5
9985,12.5,2013-02-13 15:13:25,-74.005880,40.750858,-74.008802,40.718777,1,0.002922,0.032081,3.579659,2013,2,13,15,2
9986,4.5,2013-04-07 07:15:14,-73.994545,40.750340,-74.004697,40.752280,1,0.010152,0.001940,0.882918,2013,4,7,7,6
9987,13.0,2013-09-14 07:33:00,-73.984680,40.744542,-73.947093,40.779890,1,0.037587,0.035348,5.052356,2013,9,14,7,5
9988,6.1,2010-06-21 16:57:42,-73.963524,40.757579,-73.947452,40.779541,2,0.016072,0.021962,2.795127,2010,6,21,16,0
9989,5.7,2010-09-30 22:14:03,-73.991835,40.754777,-73.982217,40.765473,1,0.009618,0.010696,1.440591,2010,9,30,22,3
9990,20.5,2013-04-29 17:01:00,-73.946900,40.784247,-73.994392,40.746328,2,0.047492,0.037919,5.818053,2013,4,29,17,0
9991,32.5,2015-03-04 20:18:02,-73.946487,40.776642,-73.865013,40.887539,1,0.081474,0.110897,14.123838,2015,3,4,20,2
9992,10.0,2015-03-21 17:17:58,-73.927353,40.818798,-73.932419,40.796097,2,0.005066,0.022701,2.562834,2015,3,21,17,5
9993,6.5,2010-02-15 15:52:46,-74.004429,40.721271,-74.006460,40.739435,3,0.002031,0.018164,2.029209,2010,2,15,15,0
9994,4.1,2010-08-27 08:45:01,-73.983616,40.756005,-73.976169,40.763282,1,0.007447,0.007277,1.024922,2010,8,27,8,4
9995,11.7,2011-10-26 10:44:00,-73.988277,40.748970,-73.963712,40.773958,2,0.024565,0.024988,3.468019,2011,10,26,10,2
9996,5.7,2011-12-16 15:37:00,-74.002112,40.748727,-73.992467,40.756252,1,0.009645,0.007525,1.167555,2011,12,16,15,4
9997,12.0,2013-11-16 22:47:17,-73.992093,40.729071,-73.974470,40.763050,2,0.017623,0.033979,4.063960,2013,11,16,22,5
9998,6.5,2010-01-28 11:38:00,-73.992548,40.735652,-73.998802,40.723085,1,0.006254,0.012567,1.495094,2010,1,28,11,3
9999,10.5,2011-07-05 06:48:44,-73.978400,40.751700,-74.010500,40.713600,1,0.032100,0.038100,5.031823,2011,7,5,6,1

In [72]:
print(data[0::10])

      fare_amount     pickup_datetime  pickup_longitude  pickup_latitude  \
0            4.50 2009-06-15 17:26:21        -73.844311        40.721319
10           5.30 2012-04-08 07:30:50        -73.996335        40.737142
20          10.50 2010-09-07 13:18:00        -73.985382        40.747858
30           5.50 2014-02-19 16:03:00        -73.976075        40.752422
40           8.10 2011-03-29 15:39:49        -73.984267        40.744961
50           9.70 2011-12-06 09:09:21        -73.985582        40.739765
60           5.00 2014-07-16 10:57:00        -73.996148        40.741890
70           6.90 2009-08-02 02:34:11        -73.995781        40.723411
80           5.70 2010-08-19 16:33:00        -73.973830        40.763717
90          10.50 2010-04-27 21:40:07        -74.001135        40.730979
100         10.00 2014-11-12 12:40:29        -74.002581        40.739572
110          9.00 2014-05-22 18:30:00        -73.982272        40.748357
120         11.50 2012-11-08 21:00:00        -73.972018        40.750142
130          8.00 2013-02-11 00:13:00        -74.002843        40.733692
140          9.00 2015-02-15 22:41:32        -74.003448        40.733101
150         17.30 2010-05-17 07:44:00        -73.950972        40.785633
160          8.00 2014-11-04 12:11:19        -73.975189        40.759095
170         11.70 2011-02-26 20:27:36        -73.981496        40.781004
180          5.70 2010-07-15 19:09:01        -74.006055        40.733166
190          6.00 2012-09-08 00:49:20        -74.004935        40.729625
200          6.00 2013-10-05 09:12:21        -74.000310        40.747961
210         12.50 2012-10-23 08:09:25        -73.982332        40.768633
220         30.90 2012-03-16 07:58:00        -73.981942        40.763977
230          7.00 2012-12-15 19:11:53        -74.002462        40.718762
240          7.30 2009-06-20 19:28:37        -73.979345        40.776630
250          4.90 2009-09-26 15:17:20        -73.955540        40.781958
260          6.50 2011-01-23 11:44:28        -74.003665        40.736906
270          7.50 2012-08-25 01:53:42        -73.995892        40.746454
280          5.30 2011-12-07 19:40:21        -73.958749        40.781019
290          6.90 2009-12-14 12:33:00        -73.982432        40.745747
...           ...                 ...               ...              ...
9702        12.50 2009-04-21 10:42:00        -73.984162        40.779610
9712         8.00 2014-11-27 14:27:16        -73.985577        40.761028
9722         5.30 2012-08-16 18:26:00        -73.982283        40.769797
9732        20.50 2010-10-15 14:20:41        -74.004364        40.730750
9742        13.50 2012-12-24 03:35:08          0.000000         0.000000
9752        10.50 2014-12-01 17:32:34        -73.952986        40.791766
9762        10.50 2015-01-19 20:18:56        -74.007637        40.740791
9772         6.10 2010-10-17 22:28:00        -73.991550        40.723807
9782         7.30 2011-07-05 05:46:16          0.000000         0.000000
9792         9.00 2015-04-24 01:12:37        -73.971207        40.751144
9802        12.90 2010-06-11 10:34:00        -74.007203        40.734372
9812         5.70 2011-08-09 20:57:58        -73.996976        40.747317
9822         5.70 2010-01-11 09:48:28        -73.985365        40.723717
9832         7.50 2015-02-11 12:37:12        -73.975433        40.756065
9842        37.53 2015-01-01 11:12:16        -73.872894        40.774162
9852         7.70 2010-12-11 22:08:39        -73.964740        40.756363
9862         4.90 2009-09-14 16:23:00        -73.957537        40.782790
9872         9.50 2013-04-20 18:30:14        -73.982337        40.767957
9882        15.00 2014-02-01 21:56:00        -73.991538        40.759962
9892         7.00 2013-03-26 11:22:21        -73.978520        40.744985
9902        11.00 2013-10-24 20:48:00        -73.979198        40.720152
9912         6.50 2009-04-30 20:31:00        -73.984590        40.742895
9922        44.83 2014-06-17 09:49:00        -73.864757        40.770237
9932         4.90 2012-03-11 18:55:30        -73.980360        40.765827
9942        25.07 2009-12-17 04:06:00        -73.968362        40.799280
9952        12.10 2010-01-22 18:19:00        -73.988665        40.722505
9962         5.00 2015-05-18 15:23:54        -73.980034        40.755932
9972         7.30 2012-03-27 17:10:21        -73.991844        40.751864
9982         6.50 2012-02-26 17:03:11        -73.976225        40.764020
9992        10.00 2015-03-21 17:17:58        -73.927353        40.818798

      dropoff_longitude  dropoff_latitude  passenger_count  \
0            -73.841610         40.712278                1
10           -73.980721         40.733559                1
20           -73.978377         40.762070                1
30           -73.981082         40.759285                1
40           -73.981646         40.759608                1
50           -73.973899         40.760426                1
60           -73.992202         40.739425                6
70           -74.005004         40.718950                2
80           -73.989420         40.771522                1
90           -73.984424         40.764630                1
100          -73.994580         40.760682                1
110          -73.969325         40.763877                1
120          -74.006008         40.736220                5
130          -73.987882         40.728590                1
140          -74.008003         40.707214                1
150          -74.010240         40.720302                1
160          -73.980510         40.767610                1
170          -73.995920         40.738813                1
180          -74.002895         40.745530                1
190          -74.016156         40.717410                1
200          -73.993636         40.757229                1
210          -73.983343         40.744372                1
220          -73.870455         40.773607                5
230          -74.007071         40.705536                2
240          -73.973842         40.757074                1
250          -73.962196         40.772095                2
260          -73.997843         40.724187                1
270          -73.995892         40.746454                1
280          -73.945876         40.778165                1
290          -73.982432         40.745747                1
...                 ...               ...              ...
9702         -73.946610         40.780655                1
9712         -73.976321         40.753387                3
9722         -73.989343         40.770770                5
9732         -73.951063         40.774664                1
9742           0.000000          0.000000                1
9752         -73.967326         40.768657                1
9762         -73.983398         40.726212                1
9772         -73.975522         40.728637                1
9782           0.000000          0.000000                1
9792         -73.982750         40.723480                1
9802         -73.986743         40.703035                5
9812         -74.000292         40.761621                1
9822         -74.001498         40.723074                1
9832         -73.980743         40.751766                1
9842         -73.985313         40.760330                4
9852         -73.982636         40.735632                1
9862         -73.956510         40.776440                1
9872         -73.988933         40.745167                2
9882         -73.952262         40.786582                1
9892         -73.986964         40.753519                1
9902         -74.008640         40.703640                1
9912         -73.999832         40.734453                1
9922         -73.983982         40.740277                5
9932         -73.965197         40.758278                1
9942         -73.873083         40.774402                2
9952         -73.967943         40.767850                1
9962         -73.973175         40.758129                1
9972         -73.991900         40.763994                1
9982         -73.999057         40.760783                2
9992         -73.932419         40.796097                2

      abs_diff_longitude  abs_diff_latitude   distance  year  month  day  \
0               0.002701           0.009041   1.031896  2009      6   15
10              0.015614           0.003583   1.376087  2012      4    8
20              0.007005           0.014212   1.688715  2010      9    7
30              0.005007           0.006863   0.872871  2014      2   19
40              0.002621           0.014647   1.645374  2011      3   29
50              0.011683           0.020661   2.502062  2011     12    6
60              0.003946           0.002465   0.431344  2014      7   16
70              0.009223           0.004461   0.923069  2009      8    2
80              0.015590           0.007805   1.575562  2010      8   19
90              0.016711           0.033651   4.002260  2010      4   27
100             0.008001           0.021110   2.444852  2014     11   12
110             0.012947           0.015520   2.043672  2014      5   22
120             0.033990           0.013922   3.258763  2012     11    8
130             0.014961           0.005102   1.383924  2013      2   11
140             0.004555           0.025887   2.907123  2015      2   15
150             0.059268           0.065331   8.824232  2010      5   17
160             0.005321           0.008515   1.048674  2014     11    4
170             0.014424           0.042191   4.851493  2011      2   26
180             0.003160           0.012364   1.401893  2010      7   15
190             0.011221           0.012215   1.656811  2012      9    8
200             0.006674           0.009268   1.175209  2013     10    5
210             0.001011           0.024261   2.702009  2012     10   23
220             0.111487           0.009630   9.459967  2012      3   16
230             0.004609           0.013226   1.522777  2012     12   15
240             0.005503           0.019556   2.225807  2009      6   20
250             0.006656           0.009863   1.232977  2009      9   26
260             0.005822           0.012719   1.498600  2011      1   23
270             0.000000           0.000000   0.000000  2012      8   25
280             0.012873           0.002854   1.130648  2011     12    7
290             0.000000           0.000000   0.000000  2009     12   14
...                  ...                ...        ...   ...    ...  ...
9702            0.037552           0.001045   3.167459  2009      4   21
9712            0.009256           0.007641   1.154389  2014     11   27
9722            0.007060           0.000973   0.604963  2012      8   16
9732            0.053301           0.043914   6.640667  2010     10   15
9742            0.000000           0.000000   0.000000  2012     12   24
9752            0.014340           0.023109   2.842259  2014     12    1
9762            0.024239           0.014580   2.610407  2015      1   19
9772            0.016028           0.004830   1.455101  2010     10   17
9782            0.000000           0.000000   0.000000  2011      7    5
9792            0.011543           0.027664   3.229745  2015      4   24
9802            0.020460           0.031337   3.892084  2010      6   11
9812            0.003316           0.014304   1.616645  2011      8    9
9822            0.016133           0.000643   1.362920  2010      1   11
9832            0.005310           0.004299   0.655384  2015      2   11
9842            0.112419           0.013832   9.602096  2015      1    1
9852            0.017896           0.020731   2.757428  2010     12   11
9862            0.001027           0.006350   0.712145  2009      9   14
9872            0.006596           0.022790   2.597169  2013      4   20
9882            0.039276           0.026620   4.443369  2014      2    1
9892            0.008444           0.008534   1.187238  2013      3   26
9902            0.029442           0.016512   3.090318  2013     10   24
9912            0.015242           0.008442   1.592424  2009      4   30
9922            0.119225           0.029960  10.592181  2014      6   17
9932            0.015163           0.007549   1.529911  2012      3   11
9942            0.095279           0.024878   8.494522  2009     12   17
9952            0.020722           0.045345   5.341644  2010      1   22
9962            0.006859           0.002197   0.627938  2015      5   18
9972            0.000056           0.012130   1.350285  2012      3   27
9982            0.022832           0.003237   1.958495  2012      2   26
9992            0.005066           0.022701   2.562834  2015      3   21

      hour  dayOfWeek
0       17          0
10       7          6
20      13          1
30      16          2
40      15          1
50       9          1
60      10          2
70       2          6
80      16          3
90      21          1
100     12          2
110     18          3
120     21          3
130      0          0
140     22          6
150      7          0
160     12          1
170     20          5
180     19          3
190      0          5
200      9          5
210      8          1
220      7          4
230     19          5
240     19          5
250     15          5
260     11          6
270      1          5
280     19          2
290     12          0
...    ...        ...
9702    10          1
9712    14          3
9722    18          3
9732    14          4
9742     3          0
9752    17          0
9762    20          0
9772    22          6
9782     5          1
9792     1          4
9802    10          4
9812    20          1
9822     9          0
9832    12          2
9842    11          3
9852    22          5
9862    16          0
9872    18          5
9882    21          5
9892    11          1
9902    20          3
9912    20          3
9922     9          1
9932    18          6
9942     4          3
9952    18          4
9962    15          0
9972    17          1
9982    17          6
9992    17          5

[1000 rows x 15 columns]

In [73]:
split_datetime(data)

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_diff_longitude,abs_diff_latitude,distance,year,month,day,hour,dayOfWeek
0,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,0.002701,0.009041,1.031896,2009,6,15,17,0
1,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,0.036780,0.070701,8.459418,2010,1,5,16,1
2,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,0.008504,0.010708,1.391052,2011,8,18,0,3
3,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1,0.004437,0.024949,2.802346,2012,4,21,4,5
4,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,0.011440,0.015754,2.001353,2010,3,9,7,1
5,12.1,2011-01-06 09:50:45,-74.000964,40.731630,-73.972892,40.758233,1,0.028072,0.026603,3.791400,2011,1,6,9,3
6,7.5,2012-11-20 20:35:00,-73.980002,40.751662,-73.973802,40.764842,1,0.006200,0.013180,1.557516,2012,11,20,20,1
7,16.5,2012-01-04 17:22:00,-73.951300,40.774138,-73.990095,40.751048,1,0.038795,0.023090,4.160010,2012,1,4,17,2
8,9.0,2012-12-03 13:10:00,-74.006462,40.726713,-73.993078,40.731628,1,0.013384,0.004915,1.254608,2012,12,3,13,0
9,8.9,2009-09-02 01:11:00,-73.980658,40.733873,-73.991540,40.758138,2,0.010882,0.024265,2.852758,2009,9,2,1,2
10,5.3,2012-04-08 07:30:50,-73.996335,40.737142,-73.980721,40.733559,1,0.015614,0.003583,1.376087,2012,4,8,7,6
11,5.5,2012-12-24 11:24:00,0.000000,0.000000,0.000000,0.000000,3,0.000000,0.000000,0.000000,2012,12,24,11,0
12,4.1,2009-11-06 01:04:03,-73.991601,40.744712,-73.983081,40.744682,2,0.008520,0.000030,0.718556,2009,11,6,1,4
13,7.0,2013-07-02 19:54:00,-74.005360,40.728867,-74.008913,40.710907,1,0.003553,0.017960,2.021603,2013,7,2,19,1
14,7.7,2011-04-05 17:11:05,-74.001821,40.737547,-73.998060,40.722788,2,0.003761,0.014759,1.673281,2011,4,5,17,1
15,5.0,2013-11-23 12:57:00,0.000000,0.000000,0.000000,0.000000,1,0.000000,0.000000,0.000000,2013,11,23,12,5
16,12.5,2014-02-19 07:22:00,-73.986430,40.760465,-73.988990,40.737075,1,0.002560,0.023390,2.612642,2014,2,19,7,2
17,5.3,2009-07-22 16:08:00,-73.981060,40.737690,-73.994177,40.728412,1,0.013117,0.009278,1.513565,2009,7,22,16,2
18,5.3,2010-07-07 14:52:00,-73.969505,40.784843,-73.958732,40.783357,1,0.010773,0.001486,0.922965,2010,7,7,14,2
19,4.0,2014-12-06 20:36:22,-73.979815,40.751902,-73.979446,40.755481,1,0.000369,0.003579,0.399617,2014,12,6,20,5
20,10.5,2010-09-07 13:18:00,-73.985382,40.747858,-73.978377,40.762070,1,0.007005,0.014212,1.688715,2010,9,7,13,1
21,11.5,2013-02-12 12:15:46,-73.957954,40.779252,-73.961250,40.758787,1,0.003296,0.020465,2.294989,2013,2,12,12,1
22,4.5,2009-08-06 18:17:23,-73.991707,40.770505,-73.985459,40.763671,1,0.006248,0.006834,0.925311,2009,8,6,18,3
23,4.9,2010-12-06 12:29:00,-74.000632,40.747473,-73.986672,40.740577,1,0.013960,0.006896,1.405501,2010,12,6,12,0
24,6.1,2009-12-10 15:37:00,-73.969622,40.756973,-73.981152,40.759712,1,0.011530,0.002739,1.018891,2009,12,10,15,3
25,7.3,2011-06-21 16:15:00,-73.991875,40.754437,-73.977230,40.774323,3,0.014645,0.019886,2.534729,2011,6,21,16,1
26,6.5,2011-02-07 20:01:00,0.000000,0.000000,0.000000,0.000000,1,0.000000,0.000000,0.000000,2011,2,7,20,0
27,4.5,2011-06-28 19:47:00,-73.988893,40.760160,-73.986445,40.757857,3,0.002448,0.002303,0.329132,2011,6,28,19,1
28,9.3,2012-05-04 06:11:20,-73.989258,40.690835,-74.004133,40.725690,1,0.014875,0.034855,4.077939,2012,5,4,6,4
29,4.5,2013-08-11 00:52:00,-73.981020,40.737760,-73.980668,40.730497,2,0.000352,0.007263,0.809041,2013,8,11,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,6.9,2009-12-29 16:29:00,-73.984122,40.759905,-73.978205,40.760717,1,0.005917,0.000812,0.507025,2009,12,29,16,1
9971,5.7,2010-08-10 08:35:27,-73.986658,40.762485,-73.969906,40.763591,1,0.016752,0.001106,1.417774,2010,8,10,8,1
9972,7.3,2012-03-27 17:10:21,-73.991844,40.751864,-73.991900,40.763994,1,0.000056,0.012130,1.350285,2012,3,27,17,1
9973,14.0,2012-10-04 16:20:52,-74.003166,40.749417,-73.971673,40.748692,2,0.031493,0.000725,2.657066,2012,10,4,16,3
9974,9.0,2013-07-10 07:53:42,-73.999104,40.734496,-73.984919,40.759059,1,0.014185,0.024563,2.984523,2013,7,10,7,2
9975,11.5,2014-10-08 08:42:00,-73.998390,40.735350,-73.980650,40.759820,4,0.017740,0.024470,3.107734,2014,10,8,8,2
9976,17.0,2014-11-03 12:23:32,-73.989868,40.740854,-73.962845,40.775560,1,0.027023,0.034706,4.485254,2014,11,3,12,0
9977,7.0,2013-01-02 17:06:35,-73.965804,40.774252,-73.975974,40.760242,4,0.010170,0.014010,1.779708,2013,1,2,17,2
9978,8.5,2012-01-05 22:59:00,-73.966063,40.762152,-73.988595,40.742650,1,0.022532,0.019502,2.884967,2012,1,5,22,3
9979,7.3,2012-01-12 18:56:07,-74.006225,40.723145,-73.995080,40.736557,1,0.011145,0.013412,1.764333,2012,1,12,18,3
9980,5.5,2012-11-09 17:47:00,-74.005310,40.751275,-74.003412,40.743545,2,0.001898,0.007730,0.875242,2012,11,9,17,4
9981,4.5,2014-03-16 17:19:04,-73.951987,40.778242,-73.950945,40.775096,1,0.001042,0.003146,0.361051,2014,3,16,17,6
9982,6.5,2012-02-26 17:03:11,-73.976225,40.764020,-73.999057,40.760783,2,0.022832,0.003237,1.958495,2012,2,26,17,6
9983,7.7,2009-10-10 14:53:08,-73.980984,40.747171,-73.963432,40.769181,1,0.017552,0.022010,2.862389,2009,10,10,14,5
9984,39.7,2011-03-12 12:20:34,-74.012679,40.706625,-73.861545,40.768256,1,0.151134,0.061631,14.476429,2011,3,12,12,5
9985,12.5,2013-02-13 15:13:25,-74.005880,40.750858,-74.008802,40.718777,1,0.002922,0.032081,3.579659,2013,2,13,15,2
9986,4.5,2013-04-07 07:15:14,-73.994545,40.750340,-74.004697,40.752280,1,0.010152,0.001940,0.882918,2013,4,7,7,6
9987,13.0,2013-09-14 07:33:00,-73.984680,40.744542,-73.947093,40.779890,1,0.037587,0.035348,5.052356,2013,9,14,7,5
9988,6.1,2010-06-21 16:57:42,-73.963524,40.757579,-73.947452,40.779541,2,0.016072,0.021962,2.795127,2010,6,21,16,0
9989,5.7,2010-09-30 22:14:03,-73.991835,40.754777,-73.982217,40.765473,1,0.009618,0.010696,1.440591,2010,9,30,22,3
9990,20.5,2013-04-29 17:01:00,-73.946900,40.784247,-73.994392,40.746328,2,0.047492,0.037919,5.818053,2013,4,29,17,0
9991,32.5,2015-03-04 20:18:02,-73.946487,40.776642,-73.865013,40.887539,1,0.081474,0.110897,14.123838,2015,3,4,20,2
9992,10.0,2015-03-21 17:17:58,-73.927353,40.818798,-73.932419,40.796097,2,0.005066,0.022701,2.562834,2015,3,21,17,5
9993,6.5,2010-02-15 15:52:46,-74.004429,40.721271,-74.006460,40.739435,3,0.002031,0.018164,2.029209,2010,2,15,15,0
9994,4.1,2010-08-27 08:45:01,-73.983616,40.756005,-73.976169,40.763282,1,0.007447,0.007277,1.024922,2010,8,27,8,4
9995,11.7,2011-10-26 10:44:00,-73.988277,40.748970,-73.963712,40.773958,2,0.024565,0.024988,3.468019,2011,10,26,10,2
9996,5.7,2011-12-16 15:37:00,-74.002112,40.748727,-73.992467,40.756252,1,0.009645,0.007525,1.167555,2011,12,16,15,4
9997,12.0,2013-11-16 22:47:17,-73.992093,40.729071,-73.974470,40.763050,2,0.017623,0.033979,4.063960,2013,11,16,22,5
9998,6.5,2010-01-28 11:38:00,-73.992548,40.735652,-73.998802,40.723085,1,0.006254,0.012567,1.495094,2010,1,28,11,3
9999,10.5,2011-07-05 06:48:44,-73.978400,40.751700,-74.010500,40.713600,1,0.032100,0.038100,5.031823,2011,7,5,6,1

In [74]:
%%time
data.head()

Wall time: 998 µs

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,abs_diff_longitude,abs_diff_latitude,distance,year,month,day,hour,dayOfWeek
0,4.5,2009-06-15 17:26:21,-73.844311,40.721319,-73.841610,40.712278,1,0.002701,0.009041,1.031896,2009,6,15,17,0
1,16.9,2010-01-05 16:52:16,-74.016048,40.711303,-73.979268,40.782004,1,0.036780,0.070701,8.459418,2010,1,5,16,1
2,5.7,2011-08-18 00:35:00,-73.982738,40.761270,-73.991242,40.750562,2,0.008504,0.010708,1.391052,2011,8,18,0,3
3,7.7,2012-04-21 04:30:42,-73.987130,40.733143,-73.991567,40.758092,1,0.004437,0.024949,2.802346,2012,4,21,4,5
4,5.3,2010-03-09 07:51:00,-73.968095,40.768008,-73.956655,40.783762,1,0.011440,0.015754,2.001353,2010,3,9,7,1

In [75]:
feature_cols = ['pickup_longitude','pickup_latitude','dropoff_longitude','dropoff_latitude','passenger_count','abs_diff_longitude',
                'abs_diff_latitude','distance','year','month','day','hour']

X = data[feature_cols] 
y = data['fare_amount']

In [76]:
X = preprocessing.scale(X)
def get_input_matrix(df):
    return np.column_stack((df.passenger_count, df.distance, df.year,df.month,df.day,df.hour,
                            df.abs_diff_longitude, df.abs_diff_latitude, np.ones(len(df))))

X_train = get_input_matrix(data)
y_train =  np.array(data['fare_amount'])

test_df = pd.read_csv('C:/Users/sirus/Downloads/test.csv')
split_datetime(test_df)

test_df['distance'] = getDistance(test_df.pickup_latitude, test_df.pickup_longitude, 
                                      test_df.dropoff_latitude, test_df.dropoff_longitude)
add_travel_vector_features(test_df)

X_test = get_input_matrix(test_df)
(w, _, _, _) = np.linalg.lstsq(X_train, y_train, rcond = None)
# Predict fare_amount on the test set using our model (w) trained on the training set.
test_y_predictions = np.matmul(X_test, w).round(decimals = 2)
add_travel_vector_features
lab_enc = preprocessing.LabelEncoder()
y_train_encoded = lab_enc.fit_transform(y_train)
y_encoded = lab_enc.fit_transform(y)

In [77]:
#linear regression can also use y_train
my_linreg = LinearRegression()
my_linreg.fit(X_train, y_train)
y_prediction = my_linreg.predict(X_test)

mse = metrics.mean_squared_error(test_y_predictions, y_prediction)
rmse = np.sqrt(mse)
print(rmse)

0.0028414512174056053

In [78]:
my_logreg = LogisticRegression()
my_logreg.fit(X_train, y_train_encoded)
y_prediction = my_logreg.predict(X_test)
mse = metrics.mean_squared_error(test_y_predictions, y_prediction)
rmse = np.sqrt(mse)
print(rmse)

C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

16.005921466416932

In [79]:
%%time
my_decisiontree = DecisionTreeClassifier(random_state=5)
my_decisiontree.fit(X_train, y_train_encoded)
y_prediction = my_decisiontree.predict(X_test)
mse = metrics.mean_squared_error(test_y_predictions, y_prediction)
rmse = np.sqrt(mse)
print(rmse)

77.25311762036381
Wall time: 520 ms

Cross Validation

In [80]:
%%time
score_list = cross_val_score(my_logreg, X, y_encoded, cv=10)
score = score_list.mean()
print('Logistic Regression: '+str(score))

C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

Logistic Regression: 0.04873497315920476
Wall time: 1min 7s

In [81]:
%%time
score_list = cross_val_score(my_decisiontree, X, y_encoded, cv=10)
score = score_list.mean()
print('Decision Tree: '+str(score))

C:\Users\sirus\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:657: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=10.
  % (min_groups, self.n_splits)), Warning)

Decision Tree: 0.08821157828501738
Wall time: 7.81 s